.izohlar {
  padding: 150px 0 80px;
  &__title {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 80px;
  }
}
.mySwiperr {
  width: 333px !important;
  height: 100% !important;
}
